.error-container{
    min-height: 500px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/images/error.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}