<div class="container">
    <div class="row mb-5">
       
        <div class="col-sm-4">
            <img *ngIf="movie.poster_path"  src="http://image.tmdb.org/t/p/w400/{{movie.poster_path}}" class="card-img" alt="{{movie.title}}">
            <img *ngIf="!movie.poster_path"  src="../../../assets/images/placeholder.png" class="card-img h-100" alt="{{movie.title}}">
        </div>
        <div class="col-sm-8">
            <div class="heading mb-5">
                <h1 class="mb-0">{{movie.title}}</h1>
                <div class="tagline " *ngIf="movie.tagline">
                    <p>{{movie.tagline}}</p>
                </div>
            </div>
            
            <div class="text-right mb-5">
                <button class="btn btn-danger pull-right" *ngIf="!isFav"  (click)="addToFavorites(movie)">Add to Favorite <fa-icon [icon]="['far', 'heart']"></fa-icon></button>
                <button class="btn btn-light  pull-right" *ngIf="isFav" (click)="removeFromFavorites(movie.id)">Remove From Favorite <fa-icon [icon]="['fas', 'heart']"></fa-icon></button>
            </div>
            <p>{{movie.overview}}</p>
            <ul class="genres">
                <li *ngFor="let genre of movie.genres">{{genre.name}}</li>
            </ul>
            <p class="card-text"><small class="text-muted">released on {{movie.release_date | date : 'dd, MMM yyyy'}}</small></p>
            <div class="production">
                <h3>Produced by</h3>
                <ul class="production_companies">
                    <li *ngFor="let comp of movie.production_companies">
                        <img src="http://image.tmdb.org/t/p/w400/{{comp.logo_path}}" alt="">
                    </li>
                </ul>
            </div>
           
        </div>
    </div>
</div>