.tagline{
    p{
        color: #888;
        font-size: 16px;
    }
    
}
.production{
    ul{
        list-style: none;
        padding: 0;

        li{
            display: inline-block;
            margin-right: 16px;
            img{
                width: 150px;
                height: auto;
            }
        }
    }
}
.genres{
    list-style: none;
    padding: 0;
    li{
        display: inline-block;
        margin-right: 8px;
        &:after{
            content: ","
        }
        &:last-of-type:after{
            content: ""
        }
    }
}